<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <title>My Portfolio</title>
    <!-- <link rel="stylesheet" href="/static/style.css" /> -->
     <link rel="stylesheet" href="/static/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- Move to up button -->
    <div class="scroll-button">
        <a href="#home"><i class="fas fa-arrow-up"></i></a>
    </div>
    <!-- navgaition menu -->
    <nav>
        <div class="navbar">
            <div class="logo"><a href="#">Portfolio.</a></div>
            <ul class="menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#contact">Contact</a></li>
                <div class="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
            </ul>
            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </nav>

    <!-- Home Section Start -->
    <section class="home" id="home">
        <div class="home-content">
            <div class="text">
                <div class="text-one">Hello,</div>
                <div class="text-two">I'm Aashish Maurya</div>
                <div class="text-three">Web Designer & Web Development</div>
                <div class="text-four">From Ghaziabad</div>
            </div>
            <div class="button">
                <button>Hire Me</button>
            </div>
        </div>
    </section>

    <!-- About Section Start -->
    <section class="about" id="about">
        <div class="content">
            <div class="title"><span>About Me</span></div>
            <div class="about-details">
                <div class="left">
                    <img src="/static/image/aashish.jpg" alt="" />
                </div>
                <div class="right">
                    <div class="topic">Coding Is My Passion</div>
                    <P>
                        Hi, My name is Aashish Maurya. I am from Ghaziabad. My Qualification is MCA.
                         I have done my Post-Graduation in Hitech Engineering College from AKTU.
                         I have some technical skills like, Python, Django, Html,Css and Js or MySql.
                        I am good listener as well as Presenter. I like to hard work because hardwork give us experiance
                        and importance of work.I am very Passionate with my work.
                        I like to playing indoor games like carrom,ludo,chess and i am always be a champion in carrom
                        which are my most favorite game and i like to visit hill station with my group friends and we have visited many
                        hill station like Dehardun(Masoorie),MP(Jabalpur),Meghalaya(Shillong)
                        ,Assam(Panimor). That's all about me..Thank you so much..
                    </P>
                    <div class="button">
                        <a href="/static/resume/My_Resume.pdf" download="true"><button>Download CV</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- My Skill Section Start -->
    <!-- Section Tag and Other Div will same where we need to put same CSS -->
    <section class="skills" id="skills">
        <div class="content">
            <div class="title"><span>My Skills</span></div>
            <div class="skills-details">
                <div class="text">
                    <div class="topic">Skills Reflects Our Knowledge</div>
                    <p>Every hero has strengths and weaknesses. Create a character that reflects you and your skills.
                        This activity will help you to reflect on your own skills for study to identify the strengths
                        you can build on and the areas that you can improve.
                    </p>
                    <div class="experience">
                        <div class="num">2</div>
                        <div class="exp">
                            Years Of <br />
                            Experience
                        </div>
                    </div>
                </div>
                <div class="boxes">
                    <div class="box">
                        <div class="topic">HTML</div>
                        <div class="per">90%</div>
                    </div>
                    <div class="box">
                        <div class="topic">CSS</div>
                        <div class="per">80%</div>
                    </div>
                    <div class="box">
                        <div class="topic">JavScript</div>
                        <div class="per">30%</div>
                    </div>
                    <div class="box">
                        <div class="topic">Python</div>
                        <div class="per">80%</div>
                    </div>
                    <div class="box">
                        <div class="topic">Django</div>
                        <div class="per">70%</div>
                    </div>
                    <div class="box">
                        <div class="topic">MYSQL</div>
                        <div class="per">70%</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- My Services Section Start -->
    <section class="services" id="education">
        <div class="content">
            <div class="title"><span>My Education</span></div>
            <div class="boxes">
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <div class="topic">Master in Computer Application</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui
                        voluptatem eligendi?</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-school"></i>
                    </div>
                    <div class="topic">Bachelor in Computer Application</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui
                        voluptatem eligendi?</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="topic">Intermediate from CBSE</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia autem quam odio, qui
                        voluptatem eligendi?</p>
                </div>

            </div>
        </div>
    </section>

    <!-- Contact Me section Start -->
    <section class="contact" id="contact">
        <div class="content">
            <div class="title"><span>Contact Me</span></div>
            <div class="contact">
                <div class="contact-form">
                    <h2>Contact Us</h2>
                    <form action="" method="post">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea id="message" name="message" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Start -->
    <footer>
        <div class="text">
            <span>Created By <a href="#">@aashish</a> | &#169; 2023 All Rights Reserved</span>
        </div>
    </footer>

    <script src="/static/script.js"></script>
</body>

</html>